---
name: pages
layout: page
---

<script>
  import SearchBar from '$components/SearchBar.svelte';
  import Gallery from '$components/Gallery.svelte';
</script>

# Explorar

<h3>Encontraras las revistas digitalizadas, la experiencia de palparlas no se compara pero miremos fotografías al fin y al cabo es el recuerdo de lo que fue:</h3>

<SearchBar />
<Gallery filters={["label", "autor"]}/>
