---
name: home
layout: home
---

# Introducción
La Exposición “Esperando el Incendio” es el producto de la investigación curatorial creativa desarrollada a partir de las revistas literarias de la Universidad Pedagógica Nacional catalogadas en la hemeroteca de la Biblioteca Central con el objetivo de motivar el interés y diversificar la forma en que se usan las publicaciones o los productos patrimoniales en las prácticas artísticas. En el desarrollo de la investigación se plantearán distintos diálogos, análisis y reflexiones hasta llegar a la consolidación de lo que se expondrá, pasando por las diferentes interpelaciones determinando categorías, selecciones, experticias y el desarrollo de la muestra artística para realizar un acercamiento fenomenológico del acto creativo en el proceso curatorial.

